@media screen and (min-width: 1200px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero hero hero"
      "sidebar mainbody mainbody mainbody";
  }
  .sidebar {
    grid-area: sidebar;
    display: block !important;
    position: relative;
    width: 100%;
  }
  .main-body {
    grid-area: mainbody;
  }
  .hero {
    grid-area: hero;
    pointer-events: none;
  }
  .close {
    display: none;
  }

  .main-body-wrapper {
    display: flex;
    flex-direction: column;
    .main-body-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .main-body-section-one,
      .main-body-section-two {
        flex-basis: 49%;
      }
      .main-body-section-two {
        button {
          width: 80%;
        }
      }
    }
    .main-body-section-three {
      display: none;
    }
    .main-body-section-four {
      background-color: white;
      display: flex;
      border-radius: 5px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 30px;
      &-sub-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 80%;
        p {
          margin-top: 20px;
          font-size: 10px;
        }
      }
    }
    .main-body-section-five {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 30px 50px;
      box-shadow: 0 59px 51px -34px rgba(0, 0, 0, 0.2);
      margin-top: 30px;

      &-sub-one {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 150px;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 30px;
        box-shadow: 0 59px 51px -34px #888888;
        border-radius: 25px 25px 25px 25px;
        contain: content;
        .img {
          position: relative;
          img {
            flex-basis: 20%;
            height: 155px;
            width: 200px;
            object-fit: cover;
            border-radius: 25px 0px 0px 25px;
          }
        }
        .cake-info {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-radius: 0px 5px 5px 0px;
          .cake-name {
            flex-basis: 40%;

            p {
              font-size: 20px;
              font-weight: 700;
              color: grey;
              text-align: left;
              margin-left: 30px;
            }
          }

          .cake-details {
            display: flex;
            justify-content: space-around;
            flex-basis: 60%;
            align-items: center;
            p {
              font-size: 15px;
              font-weight: 700;
            }
            .cupcakes {
              background-color: blue;
              padding: 10px;
              border-radius: 15px;
              p {
                color: white;
              }
            }
            .chocolates {
              background-color: purple;
              p {
                color: white;
              }
              padding: 10px;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
}
