$Background-Color: rgb(244, 242, 251);
$MainBody-SectionOne-BgColor: rgb(240, 232, 255);
$MainBody-SectionOne-SubThree-BgColor: rgb(110, 62, 203);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
